.padding {
    background: #FEFEFA;
    color: black;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}

.account{
	background:transparent;
	border:none;
}
.account i{
font-size: 20px;	
}

.user:hover .user-content{
display: block;
}
.user-content{
	max-width: 200px;
	display: none;	
}
.user-content ul {
	list-style-type: none;	
	display: block;
}
.user-content ul li:hover{
	background-color: green;
	font-size: 20px;
}

.user-content a{
	text-decoration: none;
	color: black;
}
.searchbar{
	width: 200px;
	border-radius: 5px;
	font-size: 15px;
}

.login{
background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/login.jpg");
background-size: 100%;
background-repeat: no-repeat;
color: #D4E157;
font-size: 20px;
font-style: bold;
width: 100%;
padding: 0px;
}
.login::after{
	 display: block;
    clear: both;
    content: " ";
}

.header {
    background: -webkit-linear-gradient(#0097A7,#004D40,#004D28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Mistral;
    font-size: 40px;
}

.button{
	background-color: #C0CA33;
	font-size: 15px;
	color: #1B5E20;
	padding: 15px;
	border-radius: 10px;
	border-style: none;
}
.button:hover{
	background-color: #004D40;
	color: #64DD17;
}
.buttons{
	position: relative;
	float: right;
     margin-top: -10%;
     margin-left: 2%;
     padding: 0% 6%;
    font-size: 20px;
     overflow: hidden;
}
.icon{
	float: left;
	border-radius: 15px;
}
.icon img {
	width: 50px;
height: 50px;
}

.divider{
	 background: -webkit-linear-gradient(#F0F4C3,#DCE775,#33691E,#00796B);
height: 5px;
}
header::after{
	display: block;
    clear: both;
    content: " ";
}

footer{
	background-color: #7CB342;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25px;
}
